<section>
  <div class="relative min-h-screen">
    <div
      class="absolute top-0 right-0 bottom-0 left-0 opacity-50 bg-[url('assets/main-picture.jpg')] bg-cover bg-right"></div>
  </div>

  <div class="absolute bottom-0 left-0 right-0 flex flex-col justify-between h-full text-white">
    <div class=" text-center my-12">
      <h1 class="text-7xl sm:text-9xl">
        Poalagram
      </h1>
    </div>
    <div class="absolute bottom-0 left-0 right-0 text-center mb-52">
      <button
        (click)="goToNextPage()"
        class="px-4 py-2 bg-purple-300 text-purple-950 font-bold rounded-es hover:bg-purple-100 transition-colors">Ver
        :)
      </button>
    </div>
  </div>
</section>

