@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Hello Valentina';
  src: url('/assets/Hello_Valentina.ttf') format('truetype');
}

h1 {
  font-family: 'Hello Valentina', sans-serif;
}

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
